PUSH_NOTIFICATIONS=
PROVIDER_NETWORK=https://rpc.eth.testedge2.haqq.network
PROVIDER_WS_NETWORK=wss://rpc-ws.eth.testedge2.haqq.network
NETWORK_EXPLORER=https://explorer.testedge2.haqq.network/
PROVIDER_CHAIN_ID=54211

WALLET_CONNECT_PROJECT_ID=
WALLET_CONNECT_RELAY_URL=

SENTRY_DSN="https://<example>@<example>.ingest.sentry.io/<example>"
WEB3AUTH_CLIENT_ID=
WEB3AUTH_AUTH0_CLIENT_ID=
WEB3AUTH_AUTH0_VERIFIER=
WEB3AUTH_AUTH0_DOMAIN=

PATTERNS_SOURCE=https://raw.githubusercontent.com/haqq-network/haqq-wallet-patterns/main/
IS_DEVELOPMENT=1

