<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>about</string>
		<string>fb</string>
		<string>tg</string>
		<string>mailto</string>
		<string>twitter</string>
		<string>viber</string>
		<string>whatsapp</string>
		<string>wechat</string>
		<string>line</string>
		<string>instagram</string>
		<string>kakaotalk</string>
		<string>mqq</string>
		<string>vk</string>
		<string>comgooglemaps</string>
		<string>googlephotos</string>
		<string>ha</string>
		<string>yammer</string>
		<string>discord</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Haqq</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>haqq</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string/>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>torusapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.674298748322-h050dolk1vra5a1hmfhrpt608mlc8430</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.915453653093-22njaj5n8vs0o332485b85iamk0vlt2f</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>146</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App uses bluetooth to find, connect and communicate with Ledger Nano devices</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App uses bluetooth to find, connect and communicate with Ledger Nano devices</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to use camera for recognize QR code</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to use FaceID</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to use the photo library.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.haqq.wallet.keys</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>HAQQ Backup</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>None</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>ElMessiri-Bold.ttf</string>
		<string>ElMessiri-Medium.ttf</string>
		<string>ElMessiri-Regular.ttf</string>
		<string>ElMessiri-SemiBold.ttf</string>
		<string>SF-Pro-Display-Bold.ttf</string>
		<string>SF-Pro-Display-Medium.ttf</string>
		<string>SF-Pro-Display-Regular.ttf</string>
		<string>SF-Pro-Display-Semibold.ttf</string>
		<string>SF-Pro-Display-Thin.ttf</string>
		<string>SF-ProText-Bold.ttf</string>
		<string>SF-ProText-Medium.ttf</string>
		<string>SF-ProText-Regular.ttf</string>
		<string>SF-ProText-Semibold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
