name: Distribute iOS app

on:
  workflow_call:
    inputs:
      IS_DEVELOPER:
        required: true
        type: string

jobs:
  build:
    name: Build and distribute iOS app
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1.2"
      - uses: actions/cache@v3
        with:
          path: ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Install Fastlane
        run: |
          bundle install
      - name: Install packages
        run: yarn install
      - name: Install pods
        run: cd ios && pod install
      - name: Git init
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "Github actions"
      - name: Decode secrets
        run: |
          echo "PROVIDER_NETWORK=${{secrets.PROVIDER_NETWORK}}" >> .env
          echo "PROVIDER_WS_NETWORK=${{secrets.PROVIDER_WS_NETWORK}}" >> .env
          echo "PROVIDER_CHAIN_ID=${{secrets.PROVIDER_CHAIN_ID}}" >> .env
          echo "SENTRY_DSN=${{secrets.SENTRY_DSN}}" >> .env
          echo "NETWORK_EXPLORER=${{secrets.NETWORK_EXPLORER}}" >> .env
          echo "PATTERNS_SOURCE=${{secrets.PATTERNS_SOURCE}}" >> .env
          echo "ENVIRONMENT=distribution" >> .env
          echo "IS_DEVELOPER=${{inputs.IS_DEVELOPER}}" >> .env

      - name: Execute build
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${MATCH_DEPLOY_KEY}"
          bundle exec fastlane ios distribute
        env:
          DEVELOPER_APP_IDENTIFIER: ${{ secrets.IOS_IDENTIFIER }}
          GIT_AUTHORIZATION: ${{ secrets.GIT_AUTHORIZATION }}
          APP_STORE_CONNECT_TEAM_ID: ${{ secrets.APP_STORE_CONNECT_TEAM_ID }}
          DEVELOPER_PORTAL_TEAM_ID: ${{ secrets.DEVELOPER_PORTAL_TEAM_ID }}
          MATCH_DEPLOY_KEY: ${{ secrets.MATCH_DEPLOY_KEY }}
          TEMP_KEYCHAIN_USER: ${{ secrets.TEMP_KEYCHAIN_USER }}
          TEMP_KEYCHAIN_PASSWORD: ${{ secrets.TEMP_KEYCHAIN_PASSWORD }}
          APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APPLE_KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
          FASTLANE_PASSWORD: ${{ secrets.APPLE_FASTLANE_PASSWORD }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          DEVELOPER_APP_ID: ${{ secrets.DEVELOPER_APP_ID }}
          PROVISIONING_PROFILE_SPECIFIER: ${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}
