name: Distribute apps

on:
  workflow_dispatch:

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install packages
        run: yarn install
      - name: Test
        run: yarn test

  build_android:
    name: Build and distribute Android app
    uses: ./.github/workflows/distribute-android.yml
    secrets: inherit
    with:
      IS_DEVELOPMENT: 0
    needs:
      - test


  build_ios:
    name: Build and distribute iOS app
    uses: ./.github/workflows/distribute-ios.yml
    secrets: inherit
    with:
      IS_DEVELOPMENT: 0
    needs:
      - test

  slack_notify:
    needs:
      - build_ios
      - build_android
    name: Create changelogs
    uses: ./.github/workflows/slack-notify.yml
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  patch_build:
    name: Patch build versions
    uses: ./.github/workflows/patch-build-versions.yml
    secrets: inherit
    needs:
      - slack_notify
