name: Run e2e tests for both platforms

on:
  workflow_dispatch:
    inputs:
      IS_DEVELOPMENT:
        type: choice
        description: IS_DEVELOPMENT
        default: false
        options:
          - false
          - true

      IS_SSS_ENABLED:
        type: choice
        description: IS_SSS_ENABLED
        default: true
        options:
          - true
          - false

      STORIES_ENABLED:
        type: choice
        description: STORIES_ENABLED
        default: true
        options:
          - true
          - false

jobs:
  build_android:
    name: Android
    uses: ./.github/workflows/e2e_android.yml
    secrets: inherit
    with:
      IS_DEVELOPMENT: ${{github.event.inputs.IS_DEVELOPMENT}}
      IS_SSS_ENABLED: ${{github.event.inputs.IS_SSS_ENABLED}}
      STORIES_ENABLED: ${{github.event.inputs.STORIES_ENABLED}}

  build_ios:
    name: iOS
    uses: ./.github/workflows/e2e_ios.yml
    secrets: inherit
    with:
      IS_DEVELOPMENT: ${{github.event.inputs.IS_DEVELOPMENT}}
      IS_SSS_ENABLED: ${{github.event.inputs.IS_SSS_ENABLED}}
      STORIES_ENABLED: ${{github.event.inputs.STORIES_ENABLED}}