name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Run linters
        run: |
          yarn lint
          yarn typescript:check
          yarn prettier:check

  build:
    runs-on: self-hosted
    needs:
      - lint
    steps:
      - name: Show self-hosted machine infomation
        run: uname -a

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Build ios bundle
        run: yarn react-native bundle --platform ios --dev false --entry-file index.js --bundle-output ./index.ios.bundle

  e2e:
    if: contains(github.event.pull_request.labels.*.name, 'e2e')
    name: e2e
    uses: ./.github/workflows/e2e.yml
    secrets: inherit
    with:
      IS_DEVELOPMENT: ${{false}}
      IS_SSS_ENABLED: ${{true}}
      STORIES_ENABLED: ${{true}}