name: Patch build versions

on:
  workflow_dispatch:
  workflow_call:

jobs:
  patch_build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.SERVICE_TOKEN }}

      - name: Decode secrets
        run: |
          echo ${{secrets.GOOGLE_SERVICE_ACCOUNT}} | base64 -d > android/app/google-account.json

      - name: Install Fastlane
        run: |
          bundle install
      - name: Execute Fastlane command
        run: |
          bundle exec fastlane ios patch_build
          bundle exec fastlane android patch_build
        env:
          APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
          APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
          APPLE_KEY_CONTENT: ${{ secrets.APPLE_KEY_CONTENT }}
          DEVELOPER_APP_IDENTIFIER: ${{ secrets.IOS_IDENTIFIER }}

      - name: Amend the last commit
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "Build"
          git log -1 --pretty="%H" > .last-build
          git commit -am "build"
          git pull --rebase origin main
          git push --force-with-lease
