name: Release app

on:
  release:
    types: [published]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - name: Install packages
        run: yarn install

      - name: Test
        run: yarn test

  update_version:
    runs-on: ubuntu-latest
    name: Update app version
    needs:
      - test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Decode secrets
        run: |
          echo ${{secrets.HAQQ_KEYSTORE}} | base64 -d > android/app/haqq-upload-key.keystore
          echo ${{secrets.GOOGLE_SERVICE_ACCOUNT}} | base64 -d > android/app/google-account.json

      - name: Set env
        run: |
          current_version=$(echo "${GITHUB_REF#refs/*/}" | awk -F 'v' '{ print $2 }')
          echo "RELEASE_VERSION=${current_version}" >> $GITHUB_ENV

      - uses: actions/setup-ruby@v1
        with:
          ruby-version: "3.x"

      - name: Install Fastlane
        run: |
          bundle install
          bundle exec fastlane add_plugin firebase_app_distribution
          bundle exec fastlane add_plugin increment_version_name

      - name: Update app version
        run: bundle exec fastlane version
        env:
          RELEASE_VERSION: ${{ env.RELEASE_VERSION }}

      - name: Update Android versionCode
        run: bundle exec fastlane android version_code

      - name: Push updates
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "Update branch"
          git commit -a --amend --no-edit
          git push --force-with-lease
          echo "Complete"

  build_android:
    name: Build and release Android app
    runs-on: ubuntu-latest
    needs:
      - update_version
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - uses: actions/setup-ruby@v1
        with:
          ruby-version: "3.x"

      - name: Decode secrets
        run: |
          echo ${{secrets.HAQQ_KEYSTORE}} | base64 -d > android/app/haqq-upload-key.keystore
          echo ${{secrets.GOOGLE_SERVICES_ANDROID}} | base64 -d > android/app/google-services.json
          echo ${{secrets.GOOGLE_SERVICE_ACCOUNT}} | base64 -d > android/app/google-account.json

      - name: Install Fastlane
        run: |
          bundle install
          bundle exec fastlane add_plugin firebase_app_distribution
          bundle exec fastlane add_plugin increment_version_name

      - name: Install packages
        run: yarn install

      - name: Execute Fastlane command
        run: bundle exec fastlane android release
        env:
          HAQQ_UPLOAD_STORE_FILE: ${{ secrets.HAQQ_UPLOAD_STORE_FILE }}
          HAQQ_UPLOAD_STORE_PASSWORD: ${{ secrets.HAQQ_UPLOAD_STORE_PASSWORD }}
          HAQQ_UPLOAD_KEY_ALIAS: ${{ secrets.HAQQ_UPLOAD_KEY_ALIAS }}
          HAQQ_UPLOAD_KEY_PASSWORD: ${{ secrets.HAQQ_UPLOAD_KEY_PASSWORD }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          FIREBASE_TESTERS: ${{ secrets.FIREBASE_TESTERS }}
