name: Update versionCode on PR merge
on:
  pull_request:
    branches:
      - main
    types: closed

jobs:
  version_code:
    name: Update versionCode
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Update versionCode
        run: |
          echo $(pwd)
          current_version=$(cat ./android/app/build.gradle | grep 'versionCode *' | head -1 | awk -F '[ ]'  '{ print $6 }')
          new_version=$(($current_version + 1))
          sed -i '' -e "s/versionCode ${current_version}/versionCode ${new_version}/" ./android/app/build.gradle
      - name: Amend the last commit
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "Update branch"
          git commit -a --amend --no-edit
          git push --force-with-lease
          echo "Complete"
